<div class="col-md-3 offset-1">
<h1>Editing section</h1>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @section], class: "btn btn-sm btn-info" %> |
<%= link_to 'Back', admin_sections_path, class: "btn btn-sm btn-danger" %>
</div>