<div class="col-md-3 offset-1">
<h1>Editing about</h1>

<%= render 'form_about' %>

<br>
<%= button_to "Remove background?", admin_delete_about_background_path, {:method => :patch, :class => "btn btn-sm btn-danger"} %>
<br>

<%= link_to 'Show', admin_about_path(@about), class: "btn btn-sm btn-info" %>
</div>