<div class="col-md-4 offset-1"></br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Background:</strong>
  <br>
  <%= image_tag @about.background.url(:medium) %>
</p>

<p>
  <strong>Text:</strong>
  <%= @about.text %>
</p>

<%= link_to 'Edit', admin_edit_about_path(@about) %>
</div>