<div class="col-md-3 offset-1">
<h1>Editing art</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_art_path(@art), class: "btn btn-sm btn-info" %> |
<%= link_to 'Back', admin_arts_path, class: "btn btn-sm btn-danger" %>
</div>